/* Estilos para telas maiores que 768px (desktop) */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px; /* Largura inicial para telas maiores */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centraliza o cartão horizontalmente */
}

.card-body {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f44336; /* Cor da marca */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.linkj-login {
  text-decoration: none;
  color: #f44336; /* Cor do link */
}

button[type="submit"]:hover {
  background-color: #d32f2f; /* Cor da marca em hover */
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #f44336; /* Cor de erro */
}

.text-primary {
  color: #f44336; /* Cor do link */
}

/* Estilos para telas menores que 768px (tablets e smartphones) */
@media (max-width: 768px) {
  .card {
    width: 90%; /* Largura ajustada para telas menores */
    max-width: 300px; /* Largura máxima para evitar que o cartão se estenda demais */
  }
}
