/* Estilos para telas maiores que 768px (desktop) */
.products-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.product-layout {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.dog-image {
  flex: 1;
}

.dog-image img {
  width: 100%;
  height: auto;
}

.product-options {
  flex: 1;
  padding: 20px;
}

.product-options h2 {
  margin-bottom: 20px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.product-card:hover {
  background-color: #e0e0e0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-content h3 {
  margin-bottom: 10px;
}

/* Media query para telas menores que 768px (tablets e smartphones em modo paisagem) */
@media (max-width: 768px) {
  .product-layout {
    flex-direction: column;
  }

  .dog-image {
    order: 2; /* Move a imagem do cachorro para baixo */
    margin-bottom: 20px;
  }

  .product-options {
    order: 1; /* Move as opções de produto para cima */
  }

  .product-cards {
    grid-template-columns: 1fr; /* Mostra os cards em uma única coluna */
  }
}
