/* Estilos para o NavBar */
.navbar {
  padding: 20px;
  background-color: #333;
  color: white;
  height: 10vh;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  color: #f44336;
  text-decoration: none;

  /* hover */
  transition: color 0.3s;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.nav-links a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.nav-links a:hover {
  background-color: #555;
}

.button_logout {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
